<% include partials/header %>

<ul class="list-unstyled">
    <% curList.forEach(function (currency,index){ %>
	<li>
	    <%= currency %>
	</li>
    <% }); %>
</ul>

<form action="addCrypto" method="POST">
    <div class="input-group">
	<input type="text" placeholder="Cryptocurrency ID" name="newCrypto" class="form-control">
    </div>

    <div class="input-group">
	<button class="btn btn-primary btn-block">Add</button>
    </div>
</form>

<% include partials/footer %>
